
body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #b700ff; }
header { background: #000000; color: #a600ff; padding: 10px 20px; text-align: center; }
footer { text-align: center; padding: 10px; background: #000000; color: #00ff84; margin-top: 20px; }
#hero{text-align: center;}